@using TPH.Controllers
@using TPH.Models
@using System.Web.Mvc.Html
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cart</h2>

<div class="container">

    @if (ViewBag.Cart == null)
    {
        <div class="row">
            @Html.ActionLink("Your cart is empty", "Index", "Product")
        </div>
    }
    else
    {
        <div class="row">
            <table cellpadding="2" cellspacing="2" border="1">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>

                @foreach (CartItem item in ViewBag.Cart)
                {
                    <tr>
                        <td>@item.Pr.name</td>
                        <td>@item.Pr.price</td>
                        <td>@item.quantityOrdered</td>
                        <td>$@(item.Pr.price * item.quantityOrdered)</td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "Cart", new { c = item }))
                            {<button type="submit">Remove</button>}
                    </td>
                </tr>
            }
            </table>
        </div>
        <div class="row">
            @Html.ActionLink("Continue Shopping", "Index", "Product") &nbsp; / &nbsp;
            @Html.ActionLink("Check Out", "CheckOut", "Cart")
        </div>
    }
</div>


