@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Products";
}
<div class="container">
    @Html.ActionLink("+", "Form", "Product")
    <hr />
    @if (ViewBag.Products.Count == 0)
    {
        <br />
        <div class="alert">
            Our shop is currently empty.
        </div>
    }
    else
    {
        for (var i = 0; i < 5; i++)
        {
            <div class="row">
                @for (var x = 0; x < 4; x++)
                {
                <div class="col-lg-3">
                    <div class="card mb-3">
                        <h4 class="card-header">@ViewBag.Products[i * 4 + x].name</h4>
                        <img style="height: 200px; width: 100%; display: block;" src="@ViewBag.Products[i * 4 + x].image_URL" alt="Card image">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">@ViewBag.Products[i * 4 + x].size / @ViewBag.Products[i * 4 + x].weight </li>
                            <li class="list-group-item">$@ViewBag.Products[i * 4 + x].price</li>
                            <li class="list-group-item">@ViewBag.Products[i * 4 + x].color</li>
                        </ul>
                        <div class="card-body">
                            <span><a href="@Url.Action("OrderNow", "Cart", new { id = @ViewBag.Products[i * 4 + x].id })" class="card-link">Order now</a></span>
                            @*<span><a href="@Url.Action("AddToCart", "Cart", new { id = @ViewBag.Products[i * 4 + x].id })" class="card-link">Add to cart</a></span>*@ 
                        </div>
                    </div>
                </div>
                }
            </div>
        }
    }
</div>

