@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Index product page</h4>

<div class="container">
    @Html.ActionLink("Add items", "Form", "Product")

    @if (ViewBag.Products.Count == 0)
    {
        <br />
        <div class="alert">
            Our shop is currently empty.
        </div>
    }
    else
    {
        <div class="list-view">
            @foreach (var product in ViewBag.Products)
            {
            <div class="list-item">
                <span class="p-name">@product.name</span>
                <span class="p-color">@product.color</span>
                <span class="p-quantityinstock">@product.quantityInStock</span>
                <span class="p-price">$@product.price</span>
                <span class="p-category">@product.category</span>
                <span class="p-size">@product.size</span>
                <span class="p-weight">@product.weight</span>
                <span class="p-image_url"><img src="@product.image_URL" style="width: 50px; height: 50px;" /></span>
                <span class="p-add-to-cart"><button>+</button></span> @*think about moving this btn || add pop on cart nav bar to display it was put there*@
            </div>
            }
        </div>
    }
</div>

